aniso8601==8.1.1
appdirs==1.4.4
attrs==20.3.0
beautifulsoup4==4.9.3
black==19.10b0
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
dnspython==1.16.0
Flask==1.1.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
MarkupSafe==1.1.1
mkl-fft==1.0.14
mkl-random==1.0.4
mkl-service==2.3.0
mypy-extensions==0.4.3
numpy==1.19.2
pathspec==0.7.0
pip==20.3.3
pycparser==2.20
PyJWT==1.7.1
pymongo==3.11.3
pyOpenSSL==20.0.1
PySocks==1.7.1
pytz==2021.1
regex==2020.11.13
requests==2.25.1
scikit-learn==0.23.2
scipy==1.5.2
setuptools==52.0.0.post20210125
six==1.15.0
soupsieve==2.2
threadpoolctl==2.1.0
toml==0.10.1
twilio==6.52.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
wheel==0.36.2
win-inet-pton==1.1.0
wincertstore==0.2
